hr{
  color: black;
  background-color: black;
  height: 2px;
}

#myCharitiesList{
    padding-top:20px;
}

.charity-element{
    padding-top:5px;
    padding-bottom:5px;
    padding-left:20px;
    margin-bottom:10px;
    background-color: #E2E2E2;
    border-radius:10px;
}
.charity-element:hover{
    color: white;
    background-color: #C43E00;
}
