#returnToSearchButton{
  padding-top:10px;
  padding-bottom:10px;
}

.side-nav-bar{
  margin-left:10px;
}

.name-logo{
  padding-top:10px;
  padding-bottom:10px;
  margin-bottom:30px;
}


#addCharityButton{
  padding-top:10px;
  padding-bottom:10px;
  padding-left:20px;
  margin-bottom:50px;
 background-color: #00C0AC;
 color: white;
 border-radius:10px;
}

.side-nav-elem{
  padding-left:20px;
  padding-top:10px;
  padding-bottom:10px;
}

.side-nav-elem-selected{
  background-color: #00C0AC;
}

.news-row{
  margin-top:10px;
  margin-bottom:10px;
}

.impact-elem{
  background-color: #F3F3F3;
  border-radius: 20px;
  padding-top:20px;
  padding-bottom:20px;
  margin-bottom:40px;
}

.impact-image{
  width:250px;
}

.people-row{
  padding-top:20px;
}
