#returnToSearchButton{
  padding-top:10px;
  padding-bottom:10px;
}

.side-nav-bar{
  margin-left:10px;
}

.name-logo{
  padding-top:10px;
  padding-bottom:10px;
  margin-bottom:30px;
}

.charity-image{
  width: 150px;
  height: 150px;
}

#mainContentView{
  margin-left: 30px;
}

#addCharityButton{
  padding-top:10px;
  padding-bottom:10px;
  padding-left:20px;
  margin-bottom:50px;
 background-color: #00C0AC;
 color: white;
 border-radius:10px;
}

#addCharityButton:hover{
  background-color: #6FCF97;
  cursor: pointer;
}

.side-nav-elem{
  padding-left:20px;
  padding-top:10px;
  padding-bottom:10px;
}

.side-nav-elem:hover{
    background-color: #6FCF97;
    cursor: pointer
}

.side-nav-elem-selected,
.side-nav-elem-selected:hover{
  background-color: #00C0AC;
}

.news-row{
  margin-top:10px;
  margin-bottom:10px;
}

.impact-elem{
  background-color: #F3F3F3;
  border-radius: 20px;
  padding-top:20px;
  padding-bottom:20px;
  margin-bottom:40px;
}

.impact-image{
  width:250px;
}

.people-row{
  padding-top:20px;
}

.about-data{
  margin-left: 20px
}

#efficiency-chart{
  margin-right: 
}

.bar {
  fill: orange;
}

.bar-cap {
  fill: orangered;
}

.bar:hover {
  fill: orangered ;
}

.bar-cap:hover {
  fill: red ;
}

.x.axis path {
  display: none;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.tog-button{
  padding-top:2px;
  padding-bottom:2px;
  padding-left:0px;
  padding-right:0px;
  margin-left:5px;
  margin-bottom:10px;
 border-color: #00C0AC;
 border-style: solid;
 border-radius:10px;
 font-size: 12px;
 text-align: center;
 display: inline-block;
 height: 40px;
}

.tog-button-selected{
  background-color: #00C0AC;
  color: white;
}

.tog-button:hover{
 background-color: #00C0AC;
 color: white;
 cursor: pointer;
}

#cap-toggles{
  margin-left: 65px;
}

#efficiency-toggles{
  margin-left: 50px;
}

hr{
  color: black;
  background-color: black;
  height: 1px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.definition{
  display: inline-block;
}

.definition2{
  display: inline-block;
}
