html, body {
  font-family: 'Lato', sans-serif;
}

.titlebar {
	background-color: #00786C;
}

.titlebar h1, .titlebar h3 {
	color: #ffffff;
}

.topbar {
	background-color: #00C4B1;
}

.topbar-text{
  color:#4F4F4F;
}

.topbar-text-highlighted, .topbar-text-highlighted:hover, .topbar-text:hover{
  color: #FFFFFF;
  text-decoration:none;
}

.search-sidebar {
	background-color: #e7e6e6;
}

.vertical-align {
  display: flex;
  align-items: center;
}

.cause-category {
  background-color: #003833;
  color: white;
  padding: 5px 0 5px 10px;
  font-size: 1.7em;
}

.cause-subcategory {
  background-color: #C43E00;
  color: white;
  text-align: center;
  padding: 5px 0 5px 0;
  font-size: 1.2em;
  position: absolute;
  margin-top: 40%;
}

.cause-img {
  margin-bottom: 10px;
}

.long-caption {
  margin-top: 80%;
}

.short-caption {
  margin-top: 50%;
}

#searchbar {
  width: 100%;
}