html, body {
  font-family: 'Lato', sans-serif;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.titlebar {
  background-color: #00786C;
}

.titlebar h1, .titlebar h3 {
  color: #ffffff;
}

.topbar {
  background-color: #00C4B1;
}

.topbar-text{
  color:#4F4F4F;
}

.topbar-text-highlighted, .topbar-text-highlighted:hover, .topbar-text:hover{
  color: #FFFFFF;
  text-decoration:none;
}

.search-sidebar {
  background-color: #ffffff;
}


.search-result {
	background-color: #ffffff;
	margin: 10px 0px;
	padding: 0px 20px;
	overflow: hidden;
}

.search-result-title {
	color: #2F80ED;
  cursor: pointer;
}

.search-result-title:hover{
  text-decoration: underline;
}

.details-table-hidden {
  display: none;
}

.details-table-visible {
  display: inherit;
}

.details-table-label {
	font-weight: bold;
	text-align: left;
  vertical-align: top;
  
}

.details-table-data {
  text-align: left;
  padding-right: 20px;
  vertical-align: bottom;

}

#starz {
  vertical-align: top;
}

.filter-name, .filter-results-count {
	display: inline;
}

.filter-cause-hidden {
  display: none;
}

.filter-cause-visible {
  display: inherit;
  margin-left: 10px;
}

.filter-substring {
  display: inline-block;
  margin: 5px ;
}

.filter-substring-text {
  display: inline-block;
  color: #ffffff;
  padding: 0 5px;
}

.filter-substring-x {
  background-color: #00C4B1;
  box-shadow: 4px 4px 4px #b0b0b0;
  display: inline-block;
  width: 1.4em;
  text-align: center;
}

.filter-rating-star {
  height: 1.2em;
}

.results-page-link {
  display: inline-block;
  background: #ffffff;
  width: 1.4em;
  text-align: center;
  margin: 0 5px 10px 5px;
}

.results-page-link-active {
  background: #00C4B1;
}

.results-page-link-active a {
  color: #ffffff;
}


.vertical-align {
  display: flex;
  align-items: center;
  margin-right:15px
}

.compare-nav{
margin-left:-15px;
}

.cause-category {
  background-color: #003833;
  color: white;
  padding: 5px 0 5px 5px;
  font-size: 1.7em;
}

.view-all{
  position: absolute;
  float: right;
  color: white;
  margin-top: 33px;
  margin-left: 300px;
}

.cause-subcategory {
  background-color: #C43E00;
  color: white;
  text-align: left;
  padding: 5px 0 5px 5px;
  font-size: 1.2em;
  position: absolute;
  margin-top: 40%;
  width: 100%
}

.cause-img {
  margin-bottom: 10px;
}

.small-img{
  display: block;
  width: 600px;
  height: 400px;
}

.long-caption {
  margin-top: 80%;
  /*margin-top: 110%;*/
}

.cause_img {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;

}

.centeredOverlay {
    position: absolute;
    background-color: rgba(196, 62, 0, 1);
    /*dim the background*/
    top:0;
    left:0;
    width:100%;
    height:100%;
    color:white;
    text-align: left;
    visibility: hidden;
}

.centeredOverlay span {
    position: absolute;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
}

.wrapper {
    position: relative;
}

.preview{
  width: 100%;
  height: auto;
  display: block;
  font-size: .7em;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 13px;

}

.short-caption {
  margin-top: 50%;
}

#searchBar {
  width: 100%;
}

#logo-text,
#logo-text{
  text-decoration: none;
}

.see-all:hover {
  cursor: pointer;
}

/* Dropdown Button */
.dropbtn {
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    right:0;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 3;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.cart-img-td {
  height:100px;
  width:100px;
  vertical-align: middle;
  /*display: inline;*/
}

.cart-img {
  display: inline-block;
  max-height: 100px;
  max-width: 100px;
}

.cart-name-td, .cart-delete-td {
  vertical-align: middle;
  /*white-space: nowrap;*/
  padding-left: 20px;
  padding-right: 10px;
}

a:hover{
  cursor: pointer
}
