.alloc_search_bar{
    width: 100%;
}
.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}

.progress-bar{
	background-color: #C43E00
}

.char_band{
	 border-radius:10px 10px 10px 10px;  //rounds corners for other browsers
     border:solid 1px #000;
     background-color:#EAEAEA;
     margin-top: 5px;
     padding:5px;
     
}

.char_name{
	width: 500px;
}

.trash{
    border:0;
    background:transparent;
    float: right;
    display: inline-block;
}

.bar {
	width: 10px;
}
#slider .highlight {
	height: 2px;
	position: absolute;
	width: 388px;
	top: 6px;
	left: 6px;
}

.submit{
	margin-top: 20px;
	float: right;
	padding: 0;
	width: 20%;
	height: 40px;
	background-color: #00C4B1;
	color: #ffffff;
	border: 0;
}

#pie{
	/*position: absolute;*/
	background-size: contain;
}

.visual {
  display: inline-block;
  text-align: center;
}

.family_icons .family_alloc {
  text-align: center;
}

.caption {
    display: inline block;
    margin-left: 22.5px;
}

.icon {
	vertical-align: top;
    display: inline-block;
    text-align: center;
	height: 40px;
    width: 40px;
    margin: 30px;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
}

.icon :hover{
	height: 100px;
	width: 100px;
	margin-top: -10px;
	margin-left: -10px;

}

.family_icons{
	display: inline-block;
}

.sliders {
  width: 200px;
  display: inline-block;
  /*float: right;*/
  background: #C43E00;
  background-image: -moz-linear-gradient(top, #f9f9f9, #C43E00);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f9f9f9), to(#C43E00));
  background-image: -webkit-linear-gradient(top, #f9f9f9, #C43E00);
  background-image: -o-linear-gradient(top, #f9f9f9, #C43E00);
  background-image: linear-gradient(to bottom, #f9f9f9, #C43E00);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff9f9f9', endColorstr='#fff5f5f5', GradientType=0);
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.sliders .ui-slider-range { 
    background: #C43E00;
}

.silders .ui-state-default, .ui-widget-content .ui-state-default {
    background: none;
    background-color: #C43E00;
}
}

.alloc_val{
	margin-right: 10px;
	margin-left: 10px;
}

.toolTip {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: absolute;
    display: none;
    width: auto;
    height: auto;
    background: none repeat scroll 0 0 white;
    border: 0 none;
    border-radius: 8px 8px 8px 8px;
    box-shadow: -3px 3px 15px #888888;
    color: black;
    font: 12px sans-serif;
    padding: 5px;
    text-align: center;
}


